body{
    background: radial-gradient(rgb(122, 88, 120), rgb(0, 0, 90));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    position: relative;
}

.login:hover, .login:active{
    background-position: 0 102%;
}

#div_form{
    width: 100%;
    height: 100%;
}

.avatar{
    margin-bottom: 4%;
    width: 15%;
}

@media (orientation:landscape) {

    .userInfo{
        font-size: 0.7cm;
    }

    .container{
        width: 100%;
        height: 30%;   
    }

    .login{
        margin-top: 7%;
        width: 40%;
        border: 4px violet solid;
        background: linear-gradient(#181863, rgb(122, 88, 120));
        background-repeat: repeat;
        background-size: 100% 210%;
        transition: all .5s linear;
        padding: 1%;
        border-radius: 20px;
        color: azure;
        font-size: 0.8cm;
        margin-bottom: 1%;
    }

    #div_main{
        border: 4px violet solid;
        margin-top: 4%;
        margin-left: 30%;
        margin-right: 30%;
        background-color: #1a1a5e;
        height: 70%;
        border-radius: 100px;
        color: azure;
        text-align: center;
        padding-top: 7%;
    }
}

@media (orientation:portrait) {  
    #div_main{
        margin-top: 20%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: violet;
        height: 60%;
        border-radius: 30px;
    }

}