body{
    background-image: url("https://top-fon.com/uploads/posts/2023-01/1675178778_top-fon-com-p-neonovii-fon-dlya-prezentatsii-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(14, 19, 85);
}



#div_form{
    width: 100%;
    height: 100%;
}

@media (orientation:landscape) {  

    #tab_main{
        width: 100%;
        height: 100%;
        border: 4px rgb(2, 6, 54) solid;
        border-radius: 20px;
    }

    #tresc_pyt{
        margin-top: 7%;
        font-size: 0.8cm ;
    }
    
    #tresc_odp{
        font-size: 0.5cm;
    }

    #input_odp1{
        margin-right:5%;
    }

    #input_odp2{
        margin-right:5%;
    }

    #input_odp3{
        margin-right:5%;
    }

    #input_odp4{
        margin-right:5%;
    }
    
    #lb{
        margin-left: 5%;
        border: 3px solid violet;
        padding: 1%;
        border-radius: 5px;
    }

    #tr_podtw{
        align-items: center;
        height: 30%;
        background-color: navy;
        border-radius: 30px;
        border: 4px solid violet;
    }

    #tr_main{
        padding-left: 20%;
        width: 100%;
        height: 70%;
    }

    #div_main{
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: violet;
        height: 80%;
        border-radius: 20px;
    }

    #td_div_main{
        color: azure;
        background-color: navy;
        width:80%;
        height: auto;
        align-content: center;
        align-items: center;
        border-radius: 20px;
        border: 4px solid violet;
    }

    #td_czas{
        background-color: navy;
        width: 20%;
        height: auto;
        border-radius: 20px;
        border: 4px solid violet;
    }

    #podkidysz_czas_tr{
        height: 0%;
        width: 100%;
        align-items: center;
    }

    #input_podtw{
        border-radius: 20px;
        border: 4px solid violet;
    }

    #podtw_odp{
        width: 60%;
        font-size: 0.7cm;
        color: azure;
        background-color: navy;
        border: 6px violet solid;
        border-radius: 20px;
        padding: 2%;
    }
}

@media (orientation:portrait) {  

    #tab_main{
        width: 100%;
        height: 100%;
        border: 4px rgb(2, 6, 54) solid;
        border-radius: 30px;
    }

    #tresc_pyt{
        margin-top: 5%;
        font-size: 1cm ;
    }
    
    #tresc_odp{
        font-size: 1cm;
        margin-top: 10%;
    }

    #input_odp1{
        margin-right:10%;
    }

    #input_odp2{
        margin-right:10%;
    }

    #input_odp3{
        margin-right:10%;
    }

    #input_odp4{
        margin-right:10%;
    }
    
    #lb{
        margin-left: 5%;
        border: 6px solid violet;
        padding: 1%;
        border-radius: 15px;
    }

    #tr_podtw{
        align-items: center;
        height: 20%;
        width: 100%;
    }

    #tr_main{
        padding-left: 20%;
        width: 100%;
        height:55%;
    }

    #div_main{
        margin-top: 30%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: violet;
        height: 60%;
        border-radius: 30px;
    }

    #podkidysz_czas_tr{
        height: 15%;
        width: 100%;
        align-items: center;
    }

    #td_czas{
        width: 0%;
        height: auto;
    }

    #td_div_main{
        color: azure;
        width:100%;
        height: auto;
        background-color: navy;
        align-content: center;
        align-items: center;
        border-radius: 30px;
        border: 10px solid violet;
    }

    #podkidysh_czas_td{
        background-color: navy;
        width: 100%;
        height: 2cm;
        border-radius: 30px;
        border: 10px solid violet;
    }

    #input_podtw{
        border-radius: 30px;
        background-color: navy;
        border: 10px solid violet;
    }

    #podtw_odp{
        width: 70%;
        font-size: 0.9cm;
        color: azure;
        background-color: navy;
        border: 8px violet solid;
        border-radius: 30px;
        padding: 3%;
    }
}