body{
    background-image: url("https://top-fon.com/uploads/posts/2023-01/1675178778_top-fon-com-p-neonovii-fon-dlya-prezentatsii-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(14, 19, 85);
}

#tab_main{
    width: 100%;
    height: 100%;
    border: 4px rgb(2, 6, 54) solid;
    border-radius: 10px;
}

#div_form{
    width: 100%;
    height: 100%;
}

@media (orientation:landscape) {  

    #tresc_pyt{
        font-size: 1cm ;
    }
    
    #tresc_odp{
        font-size: 0.7cm;
    }

    #input_odp1{
        margin-right:5%;
    }

    #input_odp2{
        margin-right:5%;
    }

    #input_odp3{
        margin-right:5%;
    }

    #input_odp4{
        margin-right:5%;
    }
    
    #lb{
        margin-left: 5%;
        border: 3px solid black;
    }

    #tr_podtw{
        align-items: center;
        height: 30%;
    }

    #tr_main{
        padding-left: 20%;
        width: 100%;
        height: 70%;
    }

    #div_main{
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: white;
        height: 80%;
        border-radius: 10px;
    }

    #td_div_main{
        color: azure;
        background-color: navy;
        width:80%;
        height: auto;
        align-content: center;
        align-items: center;
        border-radius: 10px;
    }

    #td_czas{
        background-color: navy;
        width: 20%;
        height: auto;
        border-radius: 10px;
    }

    #podkidysz_czas_tr{
        height: 0%;
        width: 100%;
        align-items: center;
    }
}

@media (orientation:portrait) {  

    #tresc_pyt{
        margin-top: 5%;
        font-size: 1.4cm ;
    }
    
    #tresc_odp{
        font-size: 1.4cm;
        margin-top: 10%;
    }

    #input_odp1{
        margin-right:10%;
    }

    #input_odp2{
        margin-right:10%;
    }

    #input_odp3{
        margin-right:10%;
    }

    #input_odp4{
        margin-right:10%;
    }
    
    #lb{
        margin-left: 5%;
        border: 6px solid black;
    }

    #tr_podtw{
        align-items: center;
        height: 30%;
        width: 100%;
    }

    #tr_main{
        padding-left: 20%;
        width: 100%;
        height:55%;
    }

    #div_main{
        margin-top: 30%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: white;
        height: 60%;
        border-radius: 10px;
    }

    #podkidysz_czas_tr{
        height: 15%;
        width: 100%;
        align-items: center;
    }

    #td_czas{
        width: 0%;
        height: auto;
    }

    #td_div_main{
        color: azure;
        width:100%;
        height: auto;
        border-radius: 10px;
        background-color: navy;
        align-content: center;
        align-items: center;
        border-radius: 10px;
    }

    #podkidysh_czas_td{
        background-color: navy;
        width: 100%;
        height: 20%;
        border-radius: 10px;
    }

    #input_podtw{
        border-radius: 10px;
        background-color: navy;
    }
}